@model DepartmentDetailsToReturnDto
@{
    ViewData["Title"] = "Delete";
}

<h1> Are You Sure you Want To Delete This Department</h1>
<!-- Bootstrap Tabs -->
<ul class="nav nav-tabs" id="departmentTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="general-tab" data-bs-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
    </li>

</ul>

<div class="tab-content" id="myTabContent">
    <!-- General Tab Content -->
    <div class="tab-pane fade show active p-4 border" id="general" role="tabpanel" aria-labelledby="general-tab">

        <div class="row">
            <div class="form-group col-6">
                <label class="col-form-label" asp-for="Code"></label>
                <input asp-for="Code" class="form-control" readonly />
            </div>
            <div class="form-group col-6">
                <label class="col-form-label" asp-for="Name"></label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <div class="form-group col-12">
                <label class="col-form-label" asp-for="Description"></label>
                <input asp-for="Description" class="form-control" readonly />
            </div>
            <div class="form-group col-12">
                <label class="col-form-label" asp-for="CreationDate"></label>
                <input asp-for="CreationDate" class="form-control" readonly />
            </div>

        </div>
    </div>
    <form class="mt-4" asp-action="Delete" asp-route-id="@Model.Id" method="post">

        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </form>
</div>

